/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura md bt;
}
.header {
  padding: 1em;
  text-align: center;
}
.flex-display-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-container {
  background-image: url("./res/heroimage.jpg");
  background-color: #000;
  background-size: cover;
  /* background-blend-mode: darken; */
  justify-content: center;
  padding: 2em;
  opacity: 100%;
  height: 95vh;
}
.herotexts {
  width: 100%;
  align-items: center;
  font-size: 3em;
  color: #fff;
  height: 5em;
  justify-content: flex-start;
}
.button-div > button {
  margin: 0.5em;
  padding: 1em;
  width: 50%;
}
.button-div {
  align-items: center;
}
#btn1 {
  background: #fff;
  border: none;
}
#btn2 {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}
.about-container > p {
  padding: 1em;
  font-size: 1.1em;
}
.about-container > img {
  margin: 1em 0;
  width: 90%;
}
.testimony-container {
  align-items: center;
  background-color: #000;
  padding: 1em 1em;
}
.testimony-container > h5 {
  color: #fff;
  font-size: 1.2em;
}
.testimony {
  padding: 0.5em;
  margin: 1em;
  background-color: #fff;
  align-items: center;
}
.testimony > p {
  margin: 0.5em;
  text-align: center;
}
.testimony > h4 {
  margin: 0.5em;
  font-size: 1.2em;
}
.btn-and-testimony {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn-and-testimony > button {
  padding: 0.5em;
  background: orange;
  border: none;
  font-weight: bolder;
  font-size: 1em;
}
.image-div {
  width: 12em;
  height: 12em;
  margin: 0.5em;
}
.image-div > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.input {
  padding: 1em;
}
.input > input {
  padding: 1em;
  margin: 0.5em 0;
  width: 100%;
}
.input > button {
  margin: 0.5em 0;
  padding: 1em;
  width: 100%;
  background-color: orange;
  border: none;
}
.subscribe-container {
  padding: 1em;
  align-items: center;
}
.subscribe-container > h5 {
  font-size: 2em;
  text-align: center;
}
#Royan {
  height: 0.25em;
  width: 2em;
  background-color: orange;
  position: relative;
  bottom: -0.05em;
  right: -6.5em;
}
.footer-container {
  background-color: orange;
  padding: 1em;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 30%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}
.icons-and-call {
  display: flex;
  flex-direction: row;
}
.icons-and-call > button {
  padding: 0.5em;
  margin: 0.5em auto;
  background-color: #000;
  font-size: 1.2em;
  border: none;
  color: #fff;
}
